$appAlert: #efe111;
$appBlack: #111111;
$appWhite: #efefef;

.views {

}

.components {

}

button {
  padding: 16px 32px 17px;
  font-weight: bold;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}